<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenavToggle()">
             <mat-icon>menu</mat-icon>
         </button>
    </div>
                           
    <div><a routerLink="/">LOGO</a></div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!((isAuth$ | async).isAuthenticated)"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!((isAuth$ | async).isAuthenticated)"><a routerLink="/login">Login</a></li>
            <li *ngIf="(isAuth$ | async).isAuthenticated"><a routerLink="/training">Training</a></li>
            <li style="cursor:pointer;" (click)="logoutClicked()" *ngIf="(isAuth$ | async).isAuthenticated"><a>Logout</a></li>
        </ul>                  
    </div>
   
</mat-toolbar> 