<h1 mat-dialog-title>
  Cancel training - {{data.name}}
</h1>
<mat-dialog-content>
  Are you sure you want to cancel at {{data.progress}}% ?
</mat-dialog-content>
<mat-dialog-actions>
<!--  <button mat-raised-button [mat-dialog-close]="OK" color="primary">OK</button>
  <button mat-raised-button [mat-dialog-close]="Cancel" color="primary">Cancel</button>-->
  <button mat-raised-button (click)="actionButtonClicked('OK')" color="primary">OK</button>
  <button mat-raised-button (click)="actionButtonClicked('Cancel')" color="primary">Cancel</button> 
</mat-dialog-actions>
